@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
 
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;

  margin: 0;
  background: #394457;
  font-size: 20px;
  overflow-x: hidden;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main {
    flex: 1 1 auto;
}
.hide {
    display: none;
}
.header__inner {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media (max-width:615px) {
          font-size: 15px;
    }
}
.header__difficulty {
    display: flex;
    gap: 10px;
    padding: 0;
}

.header__settings {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width:768px) {
    .header__inner {
      gap: 10px;
      justify-content: center;
    }
}

/* a {
    text-decoration: none;
    box-shadow: inset 0 0 0 0 white;
    color: white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover, a:active {
    color: #54b3d6;
} */

a:hover, a:focus, a:active {
    color: white;
    text-decoration: none;
}
a {
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #54b3d6;
}
a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
    background-color: #000;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

button {
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
}
.emoji {
    font-size: 30px;
}
li {
    list-style: none;
}
.game {
    margin: 32px auto 0;
    gap: 2px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.cell {
    width: 50px;
    cursor: pointer;
    height: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 4px;
    opacity: 1;
    transition: opacity 0.1s ease;
    user-select: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0077dd;

    @media (max-width:615px) {
          width: 40px;
          height: 40px;
    }
}
.game-over {
    background-color: red;
}
.game-over-flag {
    background-color: yellow;
}
.cell:hover {
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}
.flags {
    display: flex;
    align-items: center;
}
.flag_bg {
    background: url('../assets/32.png') no-repeat;
    background-position:  0 0;
    width: 32px;
    height: 32px;
    padding-left: 15px;
}
.medium {
    width: 45px;
    height: 45px;
}
.hard {
    width: 35px;
    height: 35px;
}

.end-game {
    margin-top: 10px;
    display: flex;
}
.mined::before {
    content: '💣';
}
.end-game__message::before {
    content: url('.././assets/icons-refresh.png');
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.x1 {
    color: blue;
}
.x2 {
    color: green;
}
.x3 {
    color: red;
}
.x4 {
    color: darkblue;
}
.number {
    font-size: 30px;
    font-weight: 500;
}
.cell-opened {
    background-color: darkgray;
    cursor: default;
}

.settings__timer-container, .settings__flags-container {
    display: flex;
    align-items: center;
}

.timer , .flags {
    margin-left: 10px;
    font-size: 25px;
    color: #f0f0f0;
}
.cell-flagged::before{
    content: '🚩';
    cursor: default;
}